<div class="row pt-3">
  <div class="col-12 pb-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col">
          <input formControlName="text" type="text" class="form-control" placeholder="Insert Text">
        </div>
        <div class="col has-error form-group">
          <select formControlName="font" class="form-control">
            <option value="" disabled selected>Select Font</option>
            <option *ngFor="let font of fonts" [ngValue]="font">
              {{ font }}
            </option>
          </select>
        </div>
        <div class="col">
          <input formControlName="color" type="text" class="form-control" placeholder="Select #Hex color">
        </div>
        <div class="col">
          <input formControlName="x" type="text" class="form-control" placeholder="X">
        </div>
        <div class="col">
          <input formControlName="y" type="text" class="form-control" placeholder="Y">
        </div>
        <div class="col">
          <input formControlName="size" type="text" class="form-control" placeholder="Size">
        </div>
        <div class="col">
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger ml-2" (click)="clear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 pb-3">
    <app-canvas [height]="canvasHeight" [width]="canvasWidth" [textParams]="canvasTextParams" [image]="canvasImage"></app-canvas>
  </div>
  <div class="col-12">
    <div class="file-upload-btn btn btn-primary">
      Upload
      <input #file type="file" name="file" accept="image/jpeg,image/png" (change)="onFileChange(file.files)"/>
    </div>
    <a class="download-btn btn btn-primary ml-2" download="image.png" (click)="download($event)">Download</a>
  </div>
</div>


